* {
    padding: 0;
    margin: 0;
}

/* menu bar */
/* Add more Javascript to make the menu background
disappear when we are at the top of the pages */
#logo img {
    width: 65px;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
header li {
    margin: 10px;
    padding: 5px;
}
header ul img {
    margin-right: 5px;
}
header ul img:hover {
    animation: glow 0s infinite;
}
header li:hover{
    color:rgb(24, 6, 183);
    animation: glow 1s infinite;
    border-radius: 25%;
}
header a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.container {
    background-color: #a0e4fa;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu_overlay{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: auto;
    overflow: hidden;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
header input, label {
    display: none;
}

/* Home body */
body {
    font-family: "Playfair Display", serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background: linear-gradient(to right, #67b5ff, #a0e4fa);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    background-image: radial-gradient(white 5.56%, transparent 0);
    background-size: 15px 15px;
    background-position: top left; 
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.flexcontainer {
    display: flex;
    padding: 20px;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#writings {
    padding-top: 5px;
}
section h2 {
    font-size: 55px;
    color: #a0e4fa;
    text-align: left;
    font-family: "Dancing Script", Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section div p {
    color: #ffffff;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    max-width: 600px;
    padding-top: 100px;
    flex-grow: 1;
}
section img {
    width: 100%;
    height: auto;
}
section ul img {
    list-style: none;
    width: 30px;
    height: auto;
}
section li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.imgrightfloat {
    max-width: 350px;
    padding: 10px;
    flex: 1;
    flex-shrink: 1;
    padding-left: 50px;
    justify-content: center;
}
h3 {
    font-size: 30px;
    padding: 10px 0;
    color: white;
    display: block;
}
.intro {
    margin-top: 110px;
    flex: 1.25;
    text-align: left;
    max-width: 600px;
    min-width: 300px;
    padding:10px;
}
#centh3 {
    text-align: center;
    font-size: 48px;
    color: white;
}
.centerp {
    color: white;
    font-size: large;
}
hr {
    border-color: #007bff;
    border-width: 6px;
    border-style: dotted none none;
    height: 0px;
    width: 8%;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 100px auto;
}

/* Footer style */
footer {
    background-color: #a0e4fa;
    color: white;
    padding: 10px;
    margin: 0;
    height: 50px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 1);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}
footer p {
    padding-left: 20px;
    /* width: 300px; */
    text-align: left;
}
footer ul {
    list-style: none;
    text-align: center;
    display: flex;
    /* will-change: 400px; */
}
footer li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}
footer img {
    width: 20px;
    height: auto;
    padding: 5px;
}
ul img:hover {
    animation: glow 1s infinite;
    border-radius: 50%;
}

/* About page style */
.aboutstart {
    padding: 150px 20px 150px 20px;
    display: flex;
}
.aboutstart p {
    padding-top: 20px;
}
.aboutstart li {
    list-style: decimal;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    display: block;
    text-align: left;
    padding-left: 30px;
    font-size: large;
}
.aboutstart li::before {
    content: '\2192';
    color: #007bff;
    margin-right: 8px; 
}
.aboutstart img {
    width: 350px;
    padding: 10px;
    flex: 1;
    /* flex-shrink: 1; */
    padding-left: 50px;
    justify-content: center;
}
.aboutimgs {
    margin-bottom: 80px;
}
.aboutimgs img {
    width: 100px;
    padding: 50px;
    margin: 6px;
    animation: glow 2s infinite;
    border-radius: 8px;
}

/* Projects page style */
.projects {
    background-color: #67abf4;
    margin: 20px;
    border-radius: 20px;
    width: 400px;
    height: 350px;
}
.project-areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects:hover {
    animation: glow 1s infinite;
}
.projects img, iframe, audio {
    width: 300px;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 20px;
    margin-top: 20px;
    animation: glow 0s infinite;
}
.projects h4 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.projects p {
    margin-top: 0;
    width: 300px;
    padding: 0;
    margin-left: 30px;
}
.buton img {
    width: 8px;
    height: auto;
}
.buton {
    background-color: #007bff;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
    text-decoration: none;
}
.buton:hover {
    animation: glow 1s infinite;
}
.buton span {
    color: white;
}
#projectstart {
    padding-top: 200px;
    width: 100%;
}

/* Awards page style */
.awards-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}
.awards-area-reversed {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.awards h3 {
    padding: 125px 0 50px 0;
    font-family: "Dancing Script", Arial, sans-serif;
    font-size: 50px;
}
.awards h4 {
    font-size: 30px;
    color: white;
    background-color: #67abf4;
    border-radius: 10px;
    margin-top: 20px;
}
.awards img, .awards iframe {
    width: 300px;
    animation: glow 3s infinite;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 70px;
    align-items: center;
}
.awards p {
    max-width: 600px;
    margin: 5px 30px 0 30px;
    padding: 0;
    font-size: 17px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Resume page style */
/* More javascript code will be added to edit the pdf view */
#downlodstart {
    color: white;
    padding-top: 120px;
    width: 100%;
}
#downlodstart img {
    width: 8px;
    padding-left: 5px;
}
#resumeiframe {
    width: 100%;
    max-width: 330px;
    height: 475px;
    margin-bottom: 30px;
}
.resumefooter {
    position:absolute;
    bottom: 0;
}
/* Landscape styling */
@media screen and (orientation: landscape) {
    body {
        width: 100%;
        display: block;
    }
    .aboutstart {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header ul a {
        display: block;
    }
    header ul img {
        padding-left: 8px;
    }
    header ul {
        justify-content: flex-start;
    }
    #logo {
        margin-right: 100px;
    }
}

/* viewport for solving problem in the awards page */
@media screen and (min-width: 550px) and (max-width: 980px) {
    .awards img, .awards iframe {
        margin-left: 150px;
    }
    .awards p {
        margin: 50px 30px 0 30px;
    }
}

/* desktop view just for special solving */
@media screen and (min-width: 769px)and (max-width: 1100px){
    .intro {
        padding-top: 110px;
        flex: 1.25;
        text-align: left;
        max-width: 600px;
        min-width: 300px;
        padding:10px;
    }
    .flexcontainer div p {
        color: #ffffff;
        font-size: large;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-align: justify;
        max-width: 416px;
        padding-top: 100px;
        flex-grow: 1;
    }
}

/* Tablet window style */
@media screen and (max-width: 768px) and (min-width: 551px) {
    .aboutstart {
        display: block;
    }
    header ul a {
        display: block;
    }
    header ul img {
        padding-left: 8px;
    }
    header ul {
        justify-content: space-evenly;
    }
    #logo {
        margin-right: 100px;
    }
}

/* Phone style */
@media screen and (max-width: 550px) {
    .awards img, .awards iframe {
        margin-left: 80px;
    }

    .aboutstart {
        display: block;
    }
    footer {
        display:grid;
        grid-template-rows: auto;
        grid-template-areas: "textt" "medias";
        justify-content: center;
    }
    footer p {
        grid-area: textt;
    }
    grid ul {
        grid-area: medias;
    }
    header ul p {
        display: flex;
    }
    header ul img {
        display: flex;
    }
    header input, label {
        display: inline-block;
    }
    .menu_overlay {
        top: 0;
        left: 0;
        position:fixed;
        color: #fff;
        background: linear-gradient(to right, rgb(103, 181, 255), rgb(160, 228, 250));
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    .menu_overlay .fas {
        position: absolute;
        top: 15px;
        right: 60px;
        color: white;
        font-size: 2.5rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .menu_overlay ul {
        height: 100%;
        width: 100%;
        list-style: none;
        padding: 20px;
        margin-top: 50px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }   
    .menu_overlay .fas:hover {
        color: rgb(17, 17, 204);
        transform: scale(1.1) rotate(180deg);
    }    
    .menu_overlay a {
        color: #fff;
        text-decoration: none;
    }
    .menu_overlay a:hover {
        color: rgb(24, 6, 183);
    }
    #menuBtn {
        display: none;
    }
    #menuBtn:checked ~ .menu_overlay {
        transform: translateX(0);
    }
    .landing_page {
        max-height: 100vh;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .menu {
        position: absolute;
        right: 20px;
    }
    .fas {
        font-size: 2rem;
        color: white;
        position: relative;
        top: 12px;
        right: 20px;
        cursor: pointer;
    }
    .fas:hover {
        color: rgb(24, 6, 183);
    }
}

/* Glow method */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px 0 rgb(0, 255, 255);
    }
    50% {
        box-shadow: 0 0 20px 10px rgb(0, 255, 255);
    }
    100% {
        box-shadow: 0 0 5px 0 rgb(0, 255, 255);
    }
}