// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #a0e4fa;
$secondary: #67b5ff;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.logo-width {
    width: 64px;
}
.bg-gradient {
    background-color: linear-gradient(to right, #67b5ff, #a0e4fa);
}
.navbar-toggler-icon, .btn-close {
    filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg);
  }
.justified {
    text-align: justify;
}
.boxed {
    width: 45px;
    padding: 5px;
}
.proj-width {
    width: 400px;
}